.listItem {
  list-style: none;
  color: black;
  font-size: 16px;
  line-height: 1.7;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  font-size: 18px;
  color: palevioletred;
}

.link:visited {
  color: palevioletred;
}
