.navigation {
  display: block;
  border-bottom: 3px solid black;
}

.navLink {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.activeLink {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 26px;
  font-weight: 700;
  color: rgb(90, 22, 218);
}
